{#
/**
 * @file
 * Template for a Button group component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3/components/button-group
 *
 *
 * Available Properties:
 * - vertical: (boolean) (default: false)
 *   Whether to render the button group vertically.
 * - size: (string) (default: 'md')
 *   The size of the button group.
 *   Available options:
 *   - sm: Small
 *   - md: Medium
 *   - lg: Large
 * - aria_label: (string) (default: '')
 *   The aria-label attribute of the button group.
 * - toolbar: (boolean) (default: false)
 *   Whether to render the button group as a toolbar.
 * - toolbar_aria_label: (string) (default: '')
 *   The aria-label attribute of the toolbar.
 * - items: (button[] or input[] - if input key is present) (default: [])
*/
#}

{% set vertical = vertical ?? false %}
{% set size = size|default('md') %}
{% set aria_label = aria_label|default('') %}
{% set toolbar = toolbar ?? false %}
{% set toolbar_aria_label = toolbar_aria_label|default('') %}
{% set items = items|default([]) %}

{% set classes = ['btn-group'] %}

{% if vertical %}
	{% set classes = ['btn-group-vertical'] %}
{% endif %}

{% set classes = classes|merge(['btn-group-' ~ size]) %}

{% set button_group_attribute = button_group_attribute ?: create_attribute() %}

{% if aria_label is not empty %}
	{% set button_group_attribute = button_group_attribute.setAttribute('aria-label', aria_label) %}
{% endif %}

{% set button_group_attribute = button_group_attribute.setAttribute('role', 'group').addClass(classes) %}

{% if toolbar %}
	<div class="btn-toolbar" role="toolbar" {% if toolbar_aria_label is not empty %} aria-label="{{ toolbar_aria_label }}" {% endif %}>
{% endif %}
	{% if items is not empty %}
		{% for items_group in items %}
			<div {{ button_group_attribute }}>
				{% if items_group is not empty and items_group is iterable %}
					{% for item in items_group %}
						{% if item.type == "input" %}
							{% include 'radix:input' with item only %}
						{% else %}
							{% include 'radix:button' with item only %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}
	{% if toolbar %}
	</div>
{% endif %}
