{#
/**
 * @file
 * Theme override for rendering primary and secondary local tasks.
 *
 * Available variables:
 * - primary: Contains primary tabs or, in other words, main navigation tasks.
 * - secondary: Contains secondary tasks, also known as sub-navigation tasks.
 */
#}
{# Check if primary local tasks exist, then display them as tabs #}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="nav nav-tabs mb-3">{{ primary }}</ul>
{% endif %}

{# Check if secondary local tasks exist, then display them as pills #}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="nav nav-pills">{{ secondary }}</ul>
{% endif %}
