@import "../../src/scss/init";

.more-container {
  h1,
  h2 {
    font-weight: bolder;
  }
  h3 {
    margin: 1.2rem 0 1.2rem 0;
  }
  .icon {
    display: flex;
    margin-right: 20px;
  }

  p {
    font-size: 1.1rem;
  }
}
