{#
/**
* @file
* Template for more component.
*/
#}
<div id="wrap" class="oe_structure oe_empty moreContainer" style="word-break: break-word; position: relative; z-index: 0;">
	<section class="s_text_block pt40 pb0 o_colored_level" data-snippet="s_text_block" data-name="Texte">
		<div class="container s_allow_columns">
			<h1 style="text-align: center;">En savoir Plus</h1>
		</div>
	</section>
	<section class="s_text_block pt40 o_colored_level pb0" data-snippet="s_text_block" data-name="Texte">
		<div class="s_allow_columns container">
			{{content.body}}
			<div class="s_hr text-start pt32 pb32" data-snippet="s_hr" data-name="Séparateur">
				<hr class="w-100 mx-auto" style="border-top-width: 1px; border-top-style: solid;">
			</div>
		</div>
	</section>
	<section class="s_features_grid pt48 pb24 o_cc1 o_colored_level" data-snippet="s_features_grid" data-name="Grille de fonctionnalités">
		<div class="container">
			<div class="row">

				<div class="s_col_no_bgcolor pb24 col-lg-12">
					<div class="row">
						<div class="col-lg-12 pb24 o_colored_level" data-name="Box">
							<h2>&nbsp;<br>
								Nadara Cars :</h2>
                        
							<h2>Achetez et importer des voitures à l'étranger depuis l'Algérie facilement</h2>
						</div>
						<div class="col-lg-12 pt16 pb16 o_colored_level" data-name="Box">

							<div class="s_features_grid_content">
								<h3>Excellent rapport qualité-prix</h3>
								<div class=>


									<p class="d-flex align-items-center">
										<span class="icon">
											<svg xmlns="http://www.w3.org/2000/svg" width="50px" viewbox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"/></svg>
										</span>
										<span>
											Avec nos conseils d'experts, nous sommes en mesure de vous proposer des prix défiant toute concurrence sur le marché de la vente de voitures en Algérie
										</span>
									</p>
								</div>


							</div>
						</div>
						<div class="col-lg-12 pt16 pb16 o_colored_level" data-name="Box">
							<i class="fa fa-check-square-o s_features_grid_icon rounded-0 fa-2x text-black bg-o-color-2"></i>
							<div class="s_features_grid_content">
								<h3>Processus d'achat simplifié</h3>
								<p class="d-flex align-items-center">
									<span class="icon">
										<svg width="50px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>

									</span>
									<span>
										Nous nous occupons de toutes les démarches administrative pour vous !
									</span>
								</p>
							</div>
						</div>
						<div class="col-lg-12 pt16 pb16 o_colored_level" data-name="Box">
							<i class="fa fa-group fa-2x s_features_grid_icon rounded-0 text-black bg-o-color-2"></i>
							<div class="s_features_grid_content">
								<h3>Service Client</h3>
								<p class="d-flex align-items-center">
									<span class="icon">
										<svg width="50px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/></svg>
									</span>
									<span>
										Nous vous accompagnons du début jusqu'à l'obtention de votre véhicule en main propre, et nous garantissons son bon fonctionnement.
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="s_text_block pt40 pb0 o_colored_level" data-snippet="s_text_block" data-name="Texte">
		<div class="container s_allow_columns">
			<h2 style="text-align: left;">Des questions ?</h2>
		</div>
	</section>
	<section class="s_faq_collapse pt32 pb32 o_colored_level" data-snippet="s_faq_collapse" data-name="Accordéon">
		<div class="container">
			<div id="myCollapse" class="accordion" role="tablist">
				<div class="card bg-white" data-name="Item" role="presentation">
					<a href="#" role="tab" data-bs-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-bs-target="#myCollapseTab26984_1" aria-controls="myCollapseTab26984_1" spellcheck="false">Conditions d'utilisation</a>
					<div class="collapse" data-bs-parent="#myCollapse" role="tabpanel" id="myCollapseTab26984_1" style="">
						<div class="card-body">
							<p class="card-text">Ces conditions de service ("Conditions", "Accord") sont un accord entre le site Web ("Exploitant du site Web", "nous", "nous" ou "nos") et vous ("Utilisateur", "vous" ou "votre "). Le présent accord définit les conditions générales de votre utilisation de ce site Web et de l'un de ses produits ou services (collectivement, "NadaraCars").</p>
						</div>
					</div>
				</div>
				<div class="card bg-white" data-name="Item" role="presentation">
					<a href="#" role="tab" data-bs-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-bs-target="#myCollapseTab26984_2" aria-controls="myCollapseTab26984_2">Liens vers d'autres sites web</a>
					<div class="collapse" data-bs-parent="#myCollapse" role="tabpanel" id="myCollapseTab26984_2">
						<div class="card-body">
							<p class="card-text">Bien que ce site web puisse être lié à d'autres sites web, nous ne sommes pas impliqués, directement ou indirectement, dans aucune approbation, association, parrainage, adhésion ou affiliation avec un site web lié, sauf indication contraire dans la présente.</p>
							<p class="card-text">Vous devez lire attentivement les mentions légales et les autres conditions d'utilisation de tout site web auquel vous accédez via un lien à partir de ce site web. Votre lien vers d'autres pages hors site ou d'autres sites web est à vos propres risques.</p>
						</div>
					</div>
				</div>
				<div class="card bg-white" data-name="Item" role="presentation">
					<a href="#" role="tab" data-bs-toggle="collapse" aria-expanded="false" class="card-header collapsed" data-bs-target="#myCollapseTab26984_3" aria-controls="myCollapseTab26984_3">Utilisation des cookies</a>
					<div class="collapse" data-bs-parent="#myCollapse" role="tabpanel" id="myCollapseTab26984_3" style="">
						<div class="card-body">
							<p class="card-text">Notre&nbsp;site web peut utiliser des cookies afin de personnaliser et de faciliter la navigation maximale de l'utilisateur sur ce site. L'Utilisateur peut configurer son navigateur pour être notifié et refuser l'installation des cookies que nous lui envoyons.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

