{#
/**
* @file
* Template for parallax component.
*/
#}
<div class="parallax-container position-relative">
{% set url = file_url(content.field_image.0['#item'].entity.uri.value)  %}
    <div class="parallax-image" style=" background-image: url({{url}})">
    </div>
    <div class="bg-shadow"></div>
    <div class="containerTitle ">
    <h1 class="title">{{content.field_title.0['#context'].value}}</h1>
    <p><a class="btn btn-primary" href="#">Explorer le showRoom</a></p>
    </div>
</div>
