{#
/**
 * @file
 * Template for the Close button component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3/components/close-button/
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available config:
 * - size: btn-sm | btn-lg
 * - disabled: true | false
 * - attributes: Attributes array.
 * - close_button_utility_classes: An array of utility classes.
 */
#}

{% set close_button_attributes = close_button_attributes ?: create_attribute() %}
{% set size = size ? [size] : [] %}
{% set disabled = disabled ? ['disabled'] : [] %}
{% set close_button_utility_classes = close_button_utility_classes ? close_button_utility_classes : [] %}

{% set classes = [
  'btn',
  'btn-close',
]|merge(close_button_utility_classes)|merge(size)|merge(disabled) %}

<button type="button" {{ close_button_attributes.addClass(classes) }} {{ disabled }} aria-label="{{ 'Close'|trans }}"></button>